{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Project list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Cause</th>
                <th>Description</th>
                <th>Startdate</th>
                <th>Proposedenddate</th>
                <th>Location</th>
                <th>Actualenddate</th>
                <th>Status</th>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('project_show', { 'id': entity.id }) }}">{{ entity.cause }}</a></td>
                <td>{{ entity.description }}</td>
                <td>{% if entity.startdate %}{{ entity.startdate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.proposedenddate %}{{ entity.proposedenddate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.location }}</td>
                <td>{% if entity.actualenddate %}{{ entity.actualenddate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.status }}</td>
                <td>{{ entity.id }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('project_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('project_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('project_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
