
<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Let's Volunteer Register</title>

    <link rel="shortcut icon" href="../favicon.ico">
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/ridwansite/css/normalize.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/ridwansite/css/demo.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/ridwansite/css/component.css') }}"/>
    <script src="{{ asset('bundles/ridwansite/js/modernizr.custom.js') }}"></script>

</head>
<body>
<div class="container">
    <header class="codrops-header">
        <img class="center" src="{{ asset('bundles/ridwansite/images/logo3.png') }} " width="400px"/><br><br>

    </header>
                <section>
                {% render url('fos_user_registration_register') %}
                </section>
</div>
<script src="{{ asset('bundles/ridwansite/js/classie.js') }}"></script>
<script src="{{ asset('bundles/ridwansite/js/stepsForm.js') }}"></script>
<script>
    var theForm = document.getElementById( 'theForm' );

    new stepsForm( theForm, {
        onSubmit : function( form ) {
            // hide form
            classie.addClass( theForm.querySelector( '.simform-inner' ), 'hide' );

            /*

             or
             AJAX request (maybe show loading indicator while we don't have an answer..)
             */

            // let's just simulate something...
            var messageEl = theForm.querySelector( '.final-message' );
            messageEl.innerHTML = 'Thank you! Check email for instructions.';
            classie.addClass( messageEl, 'show' );
            form.submit();
        }
    } );
</script>
<hr>
<footer>
    <p align="center"><strong>Computer Science & Engineering Department, University of Moratuwa </strong>&copy; 2014
</footer>
</body>
</html>