{%  extends "::base.html.twig" %}

{% block content %}
<div id="content" class="span10">


    <div class="row-fluid">

        <div class="box span12">
            {% if current == null %}
            <div class="box-header well" data-original-title>

                <h2><i class="icon-list-alt"></i> Pending Opportunities</h2>
                <div class="box-icon">

                    <a href="#" class="btn btn-minimize btn-round"><i class="icon-chevron-up"></i></a>

                </div>
            </div>
            <div class="box-content">
                <br>
                <ul class="dashboard-list">
                    {% for member in Opportunities %}
                        <li>
                            <div class ="pull-right">
                                {% if member.status == 0 %}
                                    <br><br>
                                    <button url="{{ path('ridwan_site_approve_opportunity', { 'opID': member.id }) }}" id="{{member.id}}" class="btn btn-small  btn-success btn-complete"><i class="icon-ok"></i> Approve</button>
                                    <button url="{{ path('ridwan_site_reject_opportunity', { 'opID': member.id }) }}" id="{{member.id}}" class="btn btn-small btn-danger btn-delete"><i class="icon-remove"></i> Reject</button>

                                {% endif %}
                            </div>

                            <h2> {{member.title}}</h2>

                            <br>

                            <h6>Description</h6>

                            <h3>{{ member.description }}</h3>
                            <br>

                            <table width='100%'>
                                <tr>
                                    <td width='40%'>
                                        <h6>Location</h6>

                                        <h3>{{ member.location }}</h3>
                                        <br>

                                        <h6>Start Date</h6>

                                        <h3>{{ member.startdate|date('Y-m-d') }}</h3>
                                        <br>

                                        <h6>Expected End Date</h6>

                                        <h3>{{ member.enddate| date('Y-m-d') }}</h3>
                                        <br>

                                        <h6>Number of Volunteers</h6>

                                        <h3>{{ member.numberofvolunteers }}</h3>
                                        <br>
                                    </td>
                                    <td width='10%'></td>
                                    <td width='40%'>
                                        <h6>Age Group</h6>

                                        <h3>{{ member.agegroup }}</h3>
                                        <br>

                                        <h6>Difficulty</h6>

                                        <h3>{{ member.difficulty }}</h3>
                                        <br>

                                        <h6>Cause</h6>

                                        <h3>{{ member.cause }}</h3>
                                        <br>

                                        <h6>Status</h6>
                                        {% if member.status == -1 %}
                                            <h3><span class="label label-important"> Rejected</span></h3>
                                        {% elseif member.status == 0 %}
                                            <h3><span class="label label-warning"> Pending Approval</span></h3>

                                        {% elseif member.status == 1 %}
                                            <h3><span class="label label-inverse"> Assigning Volunteers</span></h3>

                                        {% elseif member.status == 2 %}
                                            <h3><span class="label label-inverse"> On going</span></h3>

                                        {% elseif member.status == 3 %}
                                            <h3><span class="label label-info">Completed</span></h3>
                                        {% endif %}
                                        <br>
                                    </td>
                                    <td width='10%'></td>
                                </tr>

                            </table>


                            <h6>Training</h6>

                            <h3>{{ member.training }}</h3>
                            <br>

                            <h6>Expenses</h6>

                            <h3>{{ member.expenses }}</h3>
                            <br>

                        </li>
                    {% endfor %}


                </ul>
            </div>
            {% else %}
                <div class="box-header well" data-original-title>

                    <h2><i class="icon-list-alt"></i> Current Opportunity</h2>

                </div>
                <div class="box-content">
                    <br>
                    <ul class="dashboard-list" style="margin-left: 10%">

                        <li>

                                <div class ="pull-right">
                                    {% if current.status == 3 %}
                                        <br><br>
                                        <button url="{{ path('ridwan_site_approve_opportunity', { 'opID': current.id }) }}" id="{{current.id}}" class="btn btn-small  btn-success btn-complete"><i class="icon-book"></i> Feedback</button>

                                    {% endif %}
                                </div>

                                <h2> {{current.title}}</h2>

                                <br>

                                <h6>Description</h6>

                                <h3>{{ current.description }}</h3>
                                <br>

                                <table width='100%'>
                                    <tr>
                                        <td width='40%'>
                                            <h6>Location</h6>

                                            <h3>{{ current.location }}</h3>
                                            <br>

                                            <h6>Start Date</h6>

                                            <h3>{{ current.startdate|date('Y-m-d') }}</h3>
                                            <br>

                                            <h6>Expected End Date</h6>

                                            <h3>{{ current.enddate| date('Y-m-d') }}</h3>
                                            <br>

                                            <h6>Number of Volunteers</h6>

                                            <h3>{{ current.numberofvolunteers }}</h3>
                                            <br>
                                        </td>
                                        <td width='10%'></td>
                                        <td width='40%'>
                                            <h6>Age Group</h6>

                                            <h3>{{ current.agegroup }}</h3>
                                            <br>

                                            <h6>Difficulty</h6>

                                            <h3>{{ current.difficulty }}</h3>
                                            <br>

                                            <h6>Cause</h6>

                                            <h3>{{ current.cause }}</h3>
                                            <br>

                                            <h6>Status</h6>
                                            {% if current.status == -1 %}
                                                <h3><span class="label label-important"> Rejected</span></h3>
                                            {% elseif current.status == 0 %}
                                                <h3><span class="label label-warning"> Pending Approval</span></h3>

                                            {% elseif current.status == 1 %}
                                                <h3><span class="label label-inverse"> Assigning Volunteers</span></h3>

                                            {% elseif current.status == 2 %}
                                                <h3><span class="label label-inverse"> On going</span></h3>

                                            {% elseif current.status == 3 %}
                                                <h3><span class="label label-info">Completed</span></h3>
                                            {% endif %}
                                            <br>
                                        </td>
                                        <td width='10%'></td>
                                    </tr>

                                </table>


                                <h6>Training</h6>

                                <h3>{{ current.training }}</h3>
                                <br>

                                <h6>Expenses</h6>

                                <h3>{{ current.expenses }}</h3>
                                <br>


                    </li>


                    </ul>
                </div>
                {% endif %}
        </div>




        </div>
    </div>
        
{% endblock %}